<meta name="viewport" content="width=device-width" />
<title>Login</title>

<h2>Customer Login</h2>

<form asp-action="login" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" name="userName" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter UserName">
        <small id="emailHelp" class="form-text text-muted">Dear Admin, if you forgot your log-in. You're out of luck.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary" asp-action="UserVerification">Log In</button>
</form>