
<div class="container">
    <h4>Create new post</h4>
    <form (ngSubmit)="onSubmit()">
        <textarea rows=7 class="form-control" id="textBody" [(ngModel)]="postModel.textBody" name="textBody" placeholder="What do you want to say?"></textarea>
        <br />
        <app-ol-coord-map 
            (selectedCoordsEmitter)="setCoords($event)" 
            [interactablePoint]="true"
            [showPoints]="true"
        >
        </app-ol-coord-map>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!--Populate with correct info once global.currentLoggedInCustomer is working-->
    
</div>