<div class="card">
    <div class="card-header" style="display: inline-flex" >
        <div><h4>{{forumobj.forumName}} &nbsp;</h4></div>
        <div *ngIf="forumobj.isClaimed;else other_content"> 
            <div><h6><span class="form-text text-muted">Claimed</span></h6></div>
        </div>
        <ng-template #other_content><h6><span class="form-text text-muted">Unclaimed</span></h6></ng-template>
    </div>
    <div class="card-body">
        <p class="card-text">{{forumobj.descriptor}}</p>
        <a href="/forum/{{forumobj.forumId}}/posts" class="btn btn-success">View</a>
        <button type="submit" class="btn btn-danger" (click)='deleteForum(forumobj.forumId)'>Delete</button>
    </div>
</div>
<br>