<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/dashboard">
                        <h1>{{title}}</h1>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/login">Login Here</a>
                </li>
                <li>
                    <a class="nav-link text-white" routerLink="/sign-up">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>