<div class="container">
    <form #registerform="ngForm" (ngSubmit)="register(registerform)">
        <div class="row">
            <h4>Register new pet owner</h4>
            <div class="input-group input-group-icon"></div>
            <input type="text" #firstname (ngModel)= "firstname" name="firstname" placeholder="first name">
            <input type="text" #lastname (ngModel)= "lastname" name="lastname" placeholder="last name">
            <input type="text" #username (ngModel)= "username" name="username" placeholder="username">
            <input type="password" #password (ngModel)= "password" name="password" placeholder="password">
            <input type="text" #email (ngModel)= "email" name="email" placeholder="email">
            <input type="number" #phone (ngModel)= "phone" name="phone" placeholder="phone">
            <input type="number" #zipcode (ngModel)= "zipcode" name="zipcode" placeholder="zipcode">
            <input style="background-color: brown;" id="payment-method-card"  type="Submit" name="payment-method" value = "Registr" />
        </div>
    </form>    
</div>
