<div class="container">
    <form #loginForm="ngForm">
        <h2>User Login</h2>
        <div class="form-group">
            <label for="model">Username</label>
            <input type="text" [(ngModel)]="model.username" name="username" class="form-control" placeholder="Enter UserName" required>
        </div>
        <br>
        <div class="form-group">
            <label for="model">Password</label>
            <input type="password" [(ngModel)]="model.password" name="password" class="form-control" placeholder="Enter Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-success" (click)=onSubmit()>Log In</button>
    </form>
</div>


